# functions class

In [8]:
print('hi all welcome to advanced python class')

hi all welcome to advanced python class

In [9]:
0 -1 +2

1

In [10]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [11]:
type(a)

list

In [12]:
a.append(6)

In [13]:
a

[1, 2, 3, 4, 5, 6]

In [14]:
def add(a,b):
    """" input : any twp numbers"""
    c=a+b
    return c

In [15]:
add(25,78)

103

# use of arguments in functions *args

In [16]:
def arguments(*args):
    for i in args:
        print(i)

In [17]:
def add_many(*nums):
    s = 0
    for p in nums:
        s  = s + p
    return s

In [18]:
add_many(4, 6,59)

69

In [19]:
def product_many(*args):
    d = 1
    for i in args:
        d=d*i
    return d

In [20]:
product_many(6,8,9)

432

### keyword arguments
**kwargs

In [21]:
def keywords_arguments(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}:{value}')

In [22]:
keywords_arguments(name='monika', age= 24, gender= 'female', marriage = False)

name:monika
age:24
gender:female
marriage:False

# hypotaneous right angle triangle
### $ c^2 = a^2 + b^2 $

In [23]:
def hypotaneous(a,b):
    c =(a)

In [24]:
2**2

4

In [25]:
# cube root 
3**3

27

In [26]:
# square root
3**(1/2)

1.7320508075688772

In [27]:
def hypotaneous(a,b):
    c = (a**2 + b**2)**(1/2)
    return c

In [28]:
hypotaneous(4,6)

7.211102550927978

Q.1 write 2 functions convert temperature to celcius and farenheit with name celsius to ferenheit and ferenheit to celsius

In [29]:
def cel_to_fer(c):
    f= (9/5)*c + 32
    return f

In [30]:
cel_to_fer(37)

98.60000000000001

In [31]:
def fer_to_cel(f):
    c = (5/9)*(f - 32)
    return c

In [32]:
fer_to_cel(98)

36.66666666666667

# emi calculation

In [33]:
def emi(p, r, t):
    # for one month interest
    r = r/(12*100)
    # for one month period
    t = t*12
    emi = (p*r*pow(1+r,t))/(pow(1+r,t)-1)
    return emi